$color-white: #FFFFFF;
$color-black: #000000;
$color-mercury: #E5E5E5;
$color-radical-red: #FF2E63;
$color-mariner: #346CD9;
$color-mine-shaft: #343434;
$color-charade: #252A34;
$color-dust-gray: #999999;
$color-link-water: #E7EDFA;

$font-os-regular: 'Open Sans Regular';
$font-os-600: 'Open Sans 600';
$font-os-800: 'Open Sans 800';
$font-inter: 'Inter Regular';
$font-radjhani: 'Rajdhani Regular';